/* main.css */

/* base */
@import './base/reset.scss';
@import './base/typography.scss';

/* components */
@import './components/btn--twitter.scss';
@import './components/user-avi-widget.scss';

/* layout */
@import './layout/header.scss';

/* utils */
@import './utils/variables.scss';

html {
    background-color: var(--bg--primary);
}

section {
    margin-block: 3rem;
}

.learn-more {
    color: var(--brand--chirp);
    font-weight: bold;
    text-decoration: none;
}