/* typography.scss */
/* font-family: Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* document font: Inter */
html * {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  color: black;
  font-weight: bold;
  line-height: 1.25;
}

h1 {
  font-size: clamp(2rem, 2rem + (1vw - 0.234375rem) * 2.0712, 4rem);
  min-height: 0vw;
}

h2 {
  font-size: clamp(2rem, 2rem + (1vw - 0.234375rem) * 1.0356, 3rem);
  min-height: 0vw;
}

p {
  color: var(--txt--body);
}

h3,
p,
a,
li,
.btn {
  line-height: 1.5;
  font-size: 1.2rem;
}

/* btn--twitter.scss */
/* position */
/* box-model */
/* typography */
/* visual */
/* misc */
.btn--twitter {
  /* box-model */
  padding: 1rem;
  /* typography */
  color: white;
  font-weight: bold;
  /* visual */
  background-color: var(--brand--twitter);
  /* misc */
  /* @Override */
  --bs-btn-hover-bg: var(--brand--twitter--dark);
  /* @Override */
  --bs-btn-hover-color: white;
}

/* @Override */
.fa-twitter {
  /* box-model */
  margin-right: 0.5rem;
}

/* features.scss */
.features {
  /* box-model */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}
@media only screen and (max-width: 992px) {
  .features {
    /* box-model */
    grid-template-columns: 1fr;
  }
}
.features__card {
  /* box-model */
  padding: 1rem;
  /* visual */
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
}

/* pricing__card.scss */
.pricing__card {
  /* box-model */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  /* visual */
  background-color: var(--bg--primary);
  border: 0.1rem solid #ffad23;
  border-radius: 0.5rem;
}
.pricing__card--header {
  /* box-model */
  padding-bottom: 1rem;
  /* visual */
  border-bottom: 0.1rem solid var(--border);
}
.pricing__card--header .price-font {
  /* typography */
  font-size: 5rem;
}
.pricing__card--body {
  /* visual */
  border-bottom: 0.1rem solid var(--border);
}
.pricing__card--body ul {
  /* box-model */
  margin: 2rem;
  /* visual */
  list-style-position: outside;
  list-style-type: circle;
}
.pricing__card--body ul li {
  /* box-model */
  padding-bottom: 1rem;
}
.pricing__card--footer {
  /* box-model */
  padding-top: 2rem;
}

/* testimonial__cards.scss */
.testimonial__cards {
  /* box-model */
  align-items: start;
  display: flex;
  justify-content: space-between;
  /* visual */
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .testimonial__cards {
    /* box-model */
    flex-direction: column;
  }
}

/* position */
/* box-model */
/* typography */
/* visual */
/* misc */
.testimonial__card {
  /* box-model */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* visual */
  background-color: #fff;
  border-radius: 0.5rem;
  width: 32%;
}
@media only screen and (max-width: 992px) {
  .testimonial__card {
    /* box-model */
    margin-block: 1rem;
    margin-inline: 0;
    /* visual */
    width: 100%;
  }
}
.testimonial__card--header {
  /* box-model */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.testimonial__card--header .user {
  /* box-model */
  display: flex;
  align-items: center;
}
.testimonial__card--header .user img {
  /* box-model */
  margin-right: 1rem;
  /* visual */
  aspect-ratio: 1/1;
  width: 5rem;
}
.testimonial__card--header .fa-twitter {
  /* typography */
  color: var(--brand--twitter);
}
.testimonial__card--body {
  /* box-model */
  padding-bottom: 1rem;
}
.testimonial__card--footer {
  /* box-model */
  display: flex;
  justify-content: space-between;
}
.testimonial__card--footer .fa-heart {
  /* visual */
  color: rgb(216, 0, 29);
}

/* user-avi-widget.scss */
.user-avi-widget {
  /* box-model */
  display: flex;
  flex-direction: row;
}

.user-avi {
  /* visual */
  aspect-ratio: 1/1;
  max-width: 4rem;
  width: 10vw;
}

.user-avi:not(:first-of-type) {
  /* box-model */
  margin-left: -1.5rem;
}

/* footer.scss */
footer {
  /* visual */
  background-color: var(--bg--accent);
  /* @Override */
}
footer .navbar {
  /* box-model */
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  footer .navbar {
    /* box-model */
    flex-direction: column;
    align-items: start;
  }
}
footer .navbar .nav-item a {
  /* typography */
  color: black;
  text-decoration: none;
  /* visual */
  transition: color 0.2s;
}
footer .navbar .nav-item a:hover {
  /* typography */
  color: var(--brand--chirp);
}

/* header.scss */
header {
  background-color: var(--bg--main);
  /* @Override */
  /* @Override */
  /* @Override */
}
header .navbar-toggler {
  /* visual */
  border: none;
}
header .nav-item {
  /* box-model */
  margin-right: 1rem;
}
header .nav-link {
  /* typography */
  color: var(--txt--nav);
}

/* accent-text.scss */
.accent-text {
  /* typography */
  color: var(--brand--chirp);
  font-weight: bold;
}

/* emoji.scss */
.emoji {
  /* typography */
  font-size: 2rem;
}

/* learn-more.scss */
.learn-more {
  /* typography */
  color: var(--brand--chirp);
  font-weight: bold;
  text-decoration: none;
}

/* navbar-brand.scss */
/* @Override */
.navbar-brand {
  /* typography */
  color: var(--brand--chirp);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

/* temp-hide.scss */
.temp-hide {
  /* visual */
  visibility: hidden;
}

/* variables.scss */
/* colours */
:root {
  /* background colours */
  --bg--accent: #d7f5f5;
  /* @Override */
  --bg--main: #fbf8f3;
  /* border colour */
  --border: #c4c4c4;
  /* brand colours */
  --brand--chirp: #1f7898;
  --brand--twitter: #1da1f2;
  --brand--twitter--dark: #1175b3;
  /* text */
  --txt--body: #737373;
  --txt--nav: #6d6d6d;
}

/* main.css */
/* position */
/* box-model */
/* typography */
/* visual */
/* misc */
/* base */
/* components */
/* layout */
/* utils */
html {
  /* visual */
  background-color: var(--bg--primary);
}

section {
  /* box-model */
  padding-block: 3rem;
}

.main {
  /* visual */
  background-color: var(--bg--main);
}

.testimonials {
  /* visual */
  background-color: var(--bg--accent);
}

/*# sourceMappingURL=styles.css.map */
