/* footer.scss */

footer {
    /* visual */
    background-color: var(--bg--accent);

    /* @Override */
    .navbar {
        /* box-model */
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 576px) {
            /* box-model */
            flex-direction: column;
            align-items: start;
        }

        .nav-item a {
            /* typography */
            color: black;
            text-decoration: none;

            /* visual */
            transition: color .2s;

            &:hover {
                /* typography */
                color: var(--brand--chirp);
            }
        }
    }
}

