/* header.scss */

.navbar {
  background-color: var(--bg--main);
}

/* @Override */
.navbar-brand {
  /* typography */
  color: var(--brand--chirp);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

/* @Override */
.navbar-toggler {
  /* visual */
  border: none;
}

/* @Override */
.nav-item {
  /* box-model */
  margin-right: 1rem;
}

/* @Override */
.nav-link {
  /* typography */
  color: var(--txt--nav);
}
