/* header.scss */

header {
  background-color: var(--bg--main);

  /* @Override */
  .navbar-toggler {
    /* visual */
    border: none;
  }

  /* @Override */
  .nav-item {
    /* box-model */
    margin-right: 1rem;
  }

  /* @Override */
  .nav-link {
    /* typography */
    color: var(--txt--nav);
  }
}
