/* variables.scss */

/* colours */

:root {
    /* background colours */
    --bg--accent: #d7f5f5;
    /* @Override */
    --bg--main: #fbf8f3;

    /* border colour */
    --border: #c4c4c4;

    /* brand colours */
    --brand--chirp: #1f7898;
    --brand--twitter: #1da1f2;
    --brand--twitter--dark: #1175b3;
    
    /* text */
    --txt--body: #737373;
    --txt--nav: #6d6d6d;
}