/* typography */

/* font-family: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

/* document font: Inter */
html * {
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    color: black;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.25;
}

p {
    color: var(--txt--body);
    line-height: 1.5;
}