/* typography.scss */

/* font-family: Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");

/* document font: Inter */
html * {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  color: black;
  font-size: 2rem;
  font-size: clamp(2rem, calc(2rem + ((1vw - 0.234375rem) * 2.0712)), 4rem);
  min-height: 0vw;
  font-weight: bold;
  line-height: 1.25;
}

p {
  color: var(--txt--body);
}

p,
a,
li,
/* @Override */
.btn {
  line-height: 1.5;
  font-size: 1.2rem;
}