/* btn--twitter.scss */

.btn--twitter {
    /* visual */
    background-color: var(--brand--twitter);
    color: white;
    font-weight: bold;
    padding: 1rem;
}

.fa-twitter {
    /* positioning */
    margin-right: .5rem;
}