/* btn--twitter.scss */

.btn--twitter {
    /* box-model */
    padding: 1rem;

    /* typography */
    color: white;
    font-weight: bold;

    /* visual */
    background-color: var(--brand--twitter);
}

.fa-twitter {
    /* box-model */
    margin-right: .5rem;
}