/* testimonial__cards.scss */

.testimonial__cards {
  /* box-model */
  align-items: start;
  display: flex;
  justify-content: space-between;

  /* visual */
  width: 100%;

  @media only screen and (max-width: 992px) {
    /* box-model */
    flex-direction: column;
  }
}

/* position */
/* box-model */
/* typography */
/* visual */
/* misc */

.testimonial__card {
  /* box-model */
  display: flex;
  flex-direction: column;
  padding: 1rem;

  /* visual */
  background-color: #fff;
  border-radius: 0.5rem;
  width: 32%;

  @media only screen and (max-width: 992px) {
    /* box-model */
    margin-block: 1rem;
    margin-inline: 0;

    /* visual */
    width: 100%;
  }

  &--header {
    /* box-model */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    .user {
      /* box-model */
      display: flex;
      align-items: center;
      img {
        /* box-model */
        margin-right: 1rem;

        /* visual */
        aspect-ratio: 1/1;
        width: 5rem;
      }
    }
    .fa-twitter {
      /* typography */
      color: var(--brand--twitter);
    }
  }
  &--body {
    /* box-model */
    padding-bottom: 1rem;
  }
  &--footer {
    /* box-model */
    display: flex;
    justify-content: space-between;
    .fa-heart {
        /* visual */
        color: rgb(216, 0, 29);
    }
  }
}
