/* user-avi-widget.scss */

.user-avi-widget {
  /* box-model */
  display: flex;
  flex-direction: row;
}

.user-avi {
  /* visual */
  aspect-ratio: 1/1;
  max-width: 4rem;
  width: 10vw;
}

.user-avi:not(:first-of-type) {
  /* box-model */
  margin-left: -1.5rem;
}
